Introduction

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

loan = pd.read_csv('LoanStats3a.csv', low_memory = False, skiprows = 1)
print("The loan dataset has {} samples with {} features.".format(*loan.shape))

The loan dataset has 42535 samples with 144 features.

In [0]:
loan = loan[["loan_amnt","term","int_rate","installment","grade","sub_grade","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","total_acc"]]

In [37]:
loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,total_acc,chargeoff_within_12_mths
0,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,9.0,0.0
1,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,4.0,0.0
2,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,10.0,0.0
3,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,37.0,0.0
4,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,38.0,0.0

In [38]:
loan.isnull().any()

loan_amnt                   False
funded_amnt                 False
funded_amnt_inv             False
term                        False
int_rate                    False
installment                 False
grade                       False
sub_grade                   False
emp_length                   True
home_ownership              False
annual_inc                   True
verification_status         False
issue_d                     False
loan_status                 False
total_acc                    True
chargeoff_within_12_mths     True
dtype: bool

In [39]:
columns = ["term","sub_grade","emp_length","home_ownership","verification_status"]
for col in columns:
  print(loan[col].value_counts())
  print(' ')

 36 months    31534
 60 months    11001
Name: term, dtype: int64

B3    2997
A4    2905
B5    2807
A5    2793
B4    2590
C1    2264
C2    2157
B2    2113
B1    1882
A3    1823
C3    1658
A2    1520
D2    1485
C4    1370
D3    1322
C5    1291
A1    1142
D4    1140
D1    1053
D5    1016
E1     884
E2     791
E3     668
E4     552
E5     499
F1     392
F2     308
F3     236
F4     211
F5     154
G1     141
G2     107
G4      99
G5      86
G3      79
Name: sub_grade, dtype: int64

10+ years    9369
< 1 year     5062
2 years      4743
3 years      4364
4 years      3649
1 year       3595
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
Name: emp_length, dtype: int64

RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64

Not Verified       18758
Verified           13471
Source Verified    10306
Name: verification_status, dtype: int64

0.0    42390
Name: chargeoff_within_12_mths, dtype: int64

In [40]:
loan.isnull().sum()

loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_length                  1112
home_ownership                 0
annual_inc                     4
verification_status            0
issue_d                        0
loan_status                    0
total_acc                     29
chargeoff_within_12_mths     145
dtype: int64

In [41]:
mapping_emp_length = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}
loan = loan.replace(mapping_emp_length)
mapping_term = {
    "term": {
        " 36 months": 1,
        " 60 months": 0
    }
}
loan = loan.replace(mapping_term)
loan["int_rate"] = loan["int_rate"].astype(str).str.strip('%').astype(float)
#
categorical_columns = ["home_ownership", "verification_status"]
dummy_df = pd.get_dummies(loan[categorical_columns])
loan = pd.concat([loan, dummy_df], axis=1)
loan = loan.drop(categorical_columns, axis=1)
#
loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,annual_inc,...,total_acc,chargeoff_within_12_mths,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
0,5000,5000,4975.0,1,10.65,162.87,B,B2,10,24000.0,...,9.0,0.0,0,0,0,0,1,0,0,1
1,2500,2500,2500.0,0,15.27,59.83,C,C4,0,30000.0,...,4.0,0.0,0,0,0,0,1,0,1,0
2,2400,2400,2400.0,1,15.96,84.33,C,C5,10,12252.0,...,10.0,0.0,0,0,0,0,1,1,0,0
3,10000,10000,10000.0,1,13.49,339.31,C,C1,10,49200.0,...,37.0,0.0,0,0,0,0,1,0,1,0
4,3000,3000,3000.0,0,12.69,67.79,B,B5,1,80000.0,...,38.0,0.0,0,0,0,0,1,0,1,0

In [42]:
loan['loan_status'].value_counts()

Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

In [43]:
status_replace = {
    "loan_status" : {
        "Fully Paid": 1,
        "Charged Off": 0,
        "Does not meet the credit policy. Status:Fully Paid": 1,
        "Does not meet the credit policy. Status:Charged Off": 0,
    }
}
loan = loan.replace(status_replace)
loan['loan_status'].value_counts()

1    36104
0     6431
Name: loan_status, dtype: int64